{% extends 'base.html' %}

{% block content %}


<h1>TOP FIVE!</h1>
<div>
  {% for i in images %}
  <img src="{{ images }}" alt="Image">
  {% endfor %}
</div>

<div>
  <ul>
  {% for p in people %}
    <li>
      {{ p }}
    </li>
  {% endfor %}
  </ul>
</div>

<!-- <h1>These Are My Top Five Artist And Athletes!</h1>
<body>
  <p>
      BTS | Jay Park | Paul Blanco | Steph Curry | James Harden
  </p>

  <div class="row">
      <div class="column">
        <img src="Bts.jpg" width="200" height="200">
      </div>
      <div class="column">
        <img src="Jaypark.jpg" width="200" height="200">
      </div>
      <div class="column">
        <img src="blanco.jpg" width="200" height="200">
      </div>
      <div class="column">
          <img src="steph.jpg" width="200" height="200">
       </div>
       <div class="column">
          <img src="harden.jpg" width="200" height="200">
       </div>
    </div>

</body>
</html> -->
{% endblock %}

