<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Document</title>
</head>
<style>
h1{
    text-align:center;
    font-family:monospace;
}
</style>
<h1>These are my Top Five Artists and Athletes!</h1>
<style>
p{
    font-size:20px;
    text-align:center;
    font-family:monospace;
    
}

* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    padding: 5px;
    margin-left:70px;
    margin-top:20px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }
</style>
<body>
    <p>
        BTS | Jay Park | Paul Blanco | Steph Curry | James Harden
    </p>



    <div class="row">
        <div class="column">
          <img src="Bts.jpg" width="200" height="200">
        </div>
        <div class="column">
          <img src="Jaypark.jpg" width="200" height="200">
        </div>
        <div class="column">
          <img src="blanco.jpg" width="200" height="200">
        </div>
        <div class="column">
            <img src="steph.jpg" width="200" height="200">
         </div>
         <div class="column">
            <img src="harden.jpg" width="200" height="200">
         </div>
      </div>

</body>
</html>